.idea/*
.idea/workspace.xml
Gemfile.lock

# Ignore node modules
/ctrpUI/node_modules

# Ignore results dir
/results

ctrpBackend/features/support/env_local.rb
ctrpUI/features/support/env_local.rb

#ignore test.rb
ctrpUI/features/step_definations/test.rb

