.idea/*
.idea/workspace.xml
Gemfile.lock

# Ignore node modules
/ctrpUI/node_modules

# Ignore results dir
/results

/ctrp-bddtests/ctrpBackend/features/support/env_local.rb
/ctrp-bddtests/ctrpUI/features/support/env_local.rb